body {
  background-color: #52e02e;
}

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: blue;
  background-color: rgb(35, 224, 50);
}
